* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  --carol-color: #b8a6d9;
}

#app {
  width: 100vw;
  height: 100vh;
}

#app > .header {
  width: 100vw;
  min-width: 1350px;
  height: 200px;
  background-image: url(../images/A-SOUL-member-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -10px;
  position: fixed;
  top: 0;
}

#app > .content {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  padding-top: 200px;
  /* background-color: var(--carol-color); */
  display: flex;
  justify-content: center;
}

.content .panel {
  padding-top: 20px;
}

.center-panel .form-item {
  /* height: 40px; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-item > .form-title {
  display: block;
  width: 220px;
  line-height: 100%;
}
